@import 'tailwindcss';

@theme inline {
  --color-accent: rgb(var(--app-color-accent) / 1);
  --color-background: rgb(var(--app-color-background) / 1);
  --color-foreground: rgb(var(--app-color-foreground) / 1);
  --color-faint: rgb(var(--app-color-faint) / 1);
  --color-highlight: rgb(var(--app-color-highlight) / 1);
  --color-highlightextra: rgb(var(--app-color-highlightextra) / 1);
  --color-ui: rgb(var(--app-color-divider) / 1);
  --font-main: var(--font-family);
  --text-md: 0.9375rem;
  --text-md--line-height: 1.125rem;
}

:root {
  --app-color-accent: 255 122 1;
  --app-color-foreground: 231 233 234; /* #0F1419 */
  --app-color-background: 0 0 0; /* #FFFFFF */
  --app-color-faint: 113 118 123; /* #536471 */
  --app-color-divider: 47 51 54; /* #EFF3F4 */
  --app-color-highlight: 22 24 28; /* #F7F9F9 */
  --app-color-highlightextra: 29 31 35;
  --app-color-like: 249 32 131;
  --app-color-repost: 0 186 124;
  --app-color-comment: 29 155 240;

  --font-family: 'Helvetica Neue', Roboto, -apple-system, BlinkMacSystemFont;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

@property --gradstop {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

.bg-skeleton {
  background: linear-gradient(
      100deg,
      rgba(0, 0, 0, 0) calc(var(--gradstop) - 20%),
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0) var(--gradstop)
    )
    #666666;
  animation: 3s loading ease-in-out infinite;
}

@keyframes loading {
  0% {
    --gradstop: 0%;
  }

  20% {
    --gradstop: 120%;
  }

  100% {
    --gradstop: 120%;
  }
}
